# Directories
_codelite/
_visual/

# Archives
*.zip

# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Visual solution files
*.suo
*.user

# Linux
lzbench

# backups, old versions
*~

todo.txt
