/* Avoid breaking parameter names, etc. in table cells. */
.doc-contents td code {
    word-break: normal !important;
}

/* No line break before first paragraph of descriptions. */
.doc-md-description,
.doc-md-description>p:first-child {
    display: inline;
}

/* Parameter headings must be inline, not blocks. */
/* .doc-heading-parameter {
    display: inline;
} */

/* Prefer space on the right, not the left of parameter permalinks. */
/* .doc-heading-parameter .headerlink {
    margin-left: 0 !important;
    margin-right: 0.2rem;
} */

/* Backward-compatibility: docstring section titles in bold. */
.doc-section-title {
    font-weight: bold;
}

.doc-object {
    border-left: .05rem solid var(--md-primary-fg-color);
}

/* Disable the left border for groups */
.doc-group {
    border-left: none;
}

.doc-contents {
    margin-left: 1em;
}

.doc-return-description {
    margin-left: 2em;
}

.doc-signature pre>code {
    white-space: pre-wrap;
}

/* Symbols in Navigation and ToC. */
:root, :host,
[data-md-color-scheme="default"] {
  --doc-symbol-parameter-fg-color: #df50af;
  --doc-symbol-attribute-fg-color: #953800;
  --doc-symbol-variable-fg-color: #953800;
  --doc-symbol-macro-fg-color: #953800;
  --doc-symbol-function-fg-color: #8250df;
  --doc-symbol-method-fg-color: #8250df;
  --doc-symbol-struct-fg-color: #0550ae;
  --doc-symbol-class-fg-color: #df50af;
  --doc-symbol-enum-fg-color: #0550ae;
  --doc-symbol-union-fg-color: #0550ae;
  --doc-symbol-group-fg-color: #5cad0f;

  --doc-symbol-parameter-bg-color: #df50af1a;
  --doc-symbol-attribute-bg-color: #9538001a;
  --doc-symbol-variable-bg-color: #9538001a;
  --doc-symbol-macro-bg-color: #9538001a;
  --doc-symbol-function-bg-color: #8250df1a;
  --doc-symbol-method-bg-color: #8250df1a;
  --doc-symbol-struct-bg-color: #0550ae1a;
  --doc-symbol-class-bg-color: #df50af1a;
  --doc-symbol-enum-bg-color: #0550ae1a;
  --doc-symbol-union-bg-color: #0550ae1a;
  --doc-symbol-group-bg-color: #5cad0f1a;
}

[data-md-color-scheme="slate"] {
  --doc-symbol-parameter-fg-color: #ffa8cc;
  --doc-symbol-attribute-fg-color: #ffa657;
  --doc-symbol-variable-fg-color: #ffa657;
  --doc-symbol-macro-fg-color: #ffa657;
  --doc-symbol-function-fg-color: #d2a8ff;
  --doc-symbol-method-fg-color: #d2a8ff;
  --doc-symbol-struct-fg-color: #79c0ff;
  --doc-symbol-class-fg-color: #ffa8cc;
  --doc-symbol-enum-fg-color: #79c0ff;
  --doc-symbol-union-fg-color: #79c0ff;
  --doc-symbol-group-fg-color: #baff79;
  --doc-symbol-typedef-fg-color: #baff79;

  --doc-symbol-parameter-bg-color: #ffa8cc1a;
  --doc-symbol-attribute-bg-color: #ffa6571a;
  --doc-symbol-variable-bg-color: #ffa6571a;
  --doc-symbol-macro-bg-color: #ffa6571a;
  --doc-symbol-function-bg-color: #d2a8ff1a;
  --doc-symbol-method-bg-color: #d2a8ff1a;
  --doc-symbol-struct-bg-color: #79c0ff1a;
  --doc-symbol-class-bg-color: #ffa8cc1a;
  --doc-symbol-enum-bg-color: #79c0ff1a;
  --doc-symbol-union-bg-color: #79c0ff1a;
  --doc-symbol-group-bg-color: #baff791a;
  --doc-symbol-typedef-bg-color: #baff791a;
}

code.doc-symbol {
  border-radius: .1rem;
  font-size: .85em;
  padding: 0 .3em;
  font-weight: bold;
}

code.doc-symbol-parameter {
  color: var(--doc-symbol-parameter-fg-color);
  background-color: var(--doc-symbol-parameter-bg-color);
}

code.doc-symbol-parameter::after {
  content: "param";
}

code.doc-symbol-attribute {
  color: var(--doc-symbol-attribute-fg-color);
  background-color: var(--doc-symbol-attribute-bg-color);
}

code.doc-symbol-attribute::after {
  content: "attr";
}

code.doc-symbol-variable {
  color: var(--doc-symbol-variable-fg-color);
  background-color: var(--doc-symbol-variable-bg-color);
}

code.doc-symbol-variable::after {
  content: "var";
}

code.doc-symbol-macro {
  color: var(--doc-symbol-macro-fg-color);
  background-color: var(--doc-symbol-macro-bg-color);
}

code.doc-symbol-macro::after {
  content: "macro";
}

code.doc-symbol-function {
  color: var(--doc-symbol-function-fg-color);
  background-color: var(--doc-symbol-function-bg-color);
}

code.doc-symbol-function::after {
  content: "func";
}

code.doc-symbol-method {
  color: var(--doc-symbol-method-fg-color);
  background-color: var(--doc-symbol-method-bg-color);
}

code.doc-symbol-method::after {
  content: "meth";
}

code.doc-symbol-struct {
  color: var(--doc-symbol-struct-fg-color);
  background-color: var(--doc-symbol-struct-bg-color);
}

code.doc-symbol-struct::after {
  content: "struct";
}

code.doc-symbol-class {
  color: var(--doc-symbol-class-fg-color);
  background-color: var(--doc-symbol-class-bg-color);
}

code.doc-symbol-class::after {
  content: "class";
}

code.doc-symbol-enum {
  color: var(--doc-symbol-enum-fg-color);
  background-color: var(--doc-symbol-enum-bg-color);
}

code.doc-symbol-enum::after {
  content: "enum";
}

code.doc-symbol-union {
  color: var(--doc-symbol-union-fg-color);
  background-color: var(--doc-symbol-union-bg-color);
}

code.doc-symbol-union::after {
  content: "union";
}

code.doc-symbol-group {
  display: none;
}

/* Disable the TOC pill-box for groups */
/* code.doc-symbol-group {
  color: var(--doc-symbol-group-fg-color);
  background-color: var(--doc-symbol-group-bg-color);
}

code.doc-symbol-group::after {
  content: "group";
} */

code.doc-symbol-typedef {
  color: var(--doc-symbol-typedef-fg-color);
  background-color: var(--doc-symbol-typedef-bg-color);
}

code.doc-symbol-typedef::after {
  content: "typedef";
}
