# Developer stuff
corpus/
*.bz3
etc/bitflip

# Editor stuff
.vscode/
*~
tags

# Generated
*.o
*.lo
*.la
*.so
bzip3
bzip3-*
.version
LICENSE2
.version-prev
LICENSE2

# Autotools
.deps/
.libs/
.dirstamp
/aclocal.m4
/config.log
/config.status
/configure
/libtool
Makefile
Makefile.in
autom4te.cache/
/build-aux/*
!/build-aux/ax_build_date_epoch.m4
!/build-aux/ax_check_compile_flag.m4
!/build-aux/ax_pthread.m4
!/build-aux/ax_progvar.m4
!/build-aux/ax_subst_man_date.m4
!/build-aux/ax_transformed_package_name.m4
!/build-aux/git-version-gen
bzip3.pc

examples/hl-api

examples/compress-file

examples/decompress-file

examples/fuzz
examples/afl_in
examples/afl_out

bz3grep.1

bz3less.1

bz3more.1

bz3most.1

bzip3.1
